<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUS RESERVATION SYSTEM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles/index.css"></head>
<body>
<header>
		<div class="main">
		
			<ul>
				
				<li class="active"><a href="logoutadmin">LOGOUT</a></li>
			</ul>
		</div>
		<div class="title">
		<h1> THANK YOU ADMIN</h1>
		<h2><a href="login">Login AGAIN</a></h2>
		
		</div>
	</header>


</body>


</body>
</html>



