<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment-FORM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="main.css">	 -->
<link rel="stylesheet" href="/styles/payment.css">
<script src="/js/payment.js" type="text/javascript"></script>	 
</head>
<body onload=pname()>
<div><div class="body-text">Write your name in the right fields. Also write your imaginary card number. By clicking CCV field card will turn.</div>
  <form method=post action="paymentsuccess">
    <div class="form-container">
      <div class="personal-information">
        <h1>Payment Information</h1>
      </div> <!-- end of personal-information -->
           
          <input id="column" type="text" name="first-name"  title="Account Holder Name" placeholder="Account Holder Name" required />
          <input id="input-field" type="text" name="number" placeholder="Card Number" onblur="cardnumber()"  required/>
          <input id="column-left" type=number min=1 max=12 placeholder="MONTH" required>
          <input id="column-left" type=number min=2010 max=2024 placeholder="YEAR" required>
           <input id="column-right" type="password" name="cvc" placeholder="CVV" maxlength=3 required/>
          <div class="card-wrapper"></div>
      
          <input id="input-button" type="submit" value="Submit"/>
        
    </form>
  </div>
</div>
<div align=center style="margin-top:80">
<form method=post action="">
</form>
</div>
</body>
</html>