<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BUS RESERVATION SYSTEM</title>
<link rel="stylesheet" href="/styles/index.css">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<a href="index.html"><img th:src="@{/images/logo.png}"></a>
			</div>
			<ul>
				<li ><a href="bookticket">BookTicket</a>
				<li><a href="contactus">Contact us</a></li>
				
				<li><a href="feedback">Feedback</a></li>
				<li><a href="gallary">Gallery</a></li>
				<li><a href="viewscheduleuser">Schedules</a></li>
				<li><a href="logout">LOGOUT</a></li>
			</ul>
			</div>
		<div class="title">
		<h1> WELCOME USER</h1>
		</div>
		

	</header>
	</body>


</body>
</html>