



<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUS RESERVATION SYSTEM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles/index.css"></head>
<body>
<header>
		<div class="main">
		
			<ul>
				<li><a href="adminhome">HOME</a></li>
				<li><a href="addadmin">ADD ADMIN</a></li>
				<li><a href="addservice">ADD SERVICE</a></li>
				<li><a href="modifyservice">MODIFY SERVICE</a></li>
				<li class="active"><a href="viewfeedback">VIEW FEEDBACKS</a></li>
				<li><a href="viewschedule">SCHEDULES</a></li>
				<li><a href="logoutadmin">LOGOUT</a></li>
			</ul>
		</div>
		<div class="title">
		<h1> FEEDBACK </h1>
		</div>
	</header>


</body>


</body>
</html>